@model IEnumerable<LaserAfzar.Entities.CompanyMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@if (Model.Count() < 3)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<p>
    Maximum 3 Members
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            Member Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>

            @if (item.CompanyMemberImage!= null)
                {
                <span class="linkDisabled">Create</span> @: |
                @Html.ActionLink("Edit", "Edit", "CompanyMemberImages", new { id = item.CompanyMemberID }, null) @: |
                @Html.ActionLink("Delete", "Delete", "CompanyMemberImages", new { id = item.CompanyMemberID }, null)
            }
            else
            {
                @Html.ActionLink("Create", "Create", "CompanyMemberImages", new { id = item.CompanyMemberID }, null) @: |
                <span class="linkDisabled">Edit</span> @: |
                <span class="linkDisabled">Delete</span>
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyMemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyMemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyMemberID })
        </td>
    </tr>
}

</table>
