@{ 
    var FileName = "";
    if(Model != null)
    {
        FileName = Model.FileName;
    }
}



@using (Ajax.BeginForm("AsyncDelete", "ProjectImages", null , new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()




    <div class="is-table-row" id="uploadResultBox">
        <div class="col-xs-10 upload-preview-div align-middle justify-content-center text-center">
            <img id="imgUploadedResult" class="img-result" src="../../@ViewBag.ImageDirectory/@FileName">
        </div>
        <div id="uploadResultBoxDeleteSection" class="col-xs-2 delete-Button-div align-middle justify-content-center text-center">
            <input type="submit" value="Delete File" class="btn btn-danger">

            <input type="hidden" value="@FileName" id="deleteFileName" name="deleteFileName" />
            <input type="hidden" name="DeleteImageType" id="DeleteImageType" value="@ViewBag.ImageType" />
        </div>
    </div>

}

@using (Ajax.BeginForm("AsyncUpload", "ProjectImages", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row" id="uploadFormBox">
        <div class="col-xs-12">
            <label for="fileUploadInput" class="custom-file-upload">
                Upload File
            </label>
            <input id="fileUploadInput" type="file" name="files" />
            <input type="hidden" name="ImageType" id="ImageType" value="@ViewBag.ImageType" />
        </div>
    </div>


    <div class="form-group" id="uploadProgressBox">
        <div class="progress col-md-2" id="uploadProgressBar">
            <div class="progress-bar">0%</div>
        </div>
    </div>


}

