<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - LaserAfzar.ir Application</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    @Styles.Render("~/Content/preCss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header"
             role="navigation"
             aria-label="site">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img src="/Images/site/LaserAfzar_logo.png" alt="LaserAfzar Logo" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-link-href" href="#top">خانه</a></li>
                        <li><a class="navbar-link-href" href="#aboutus">درباره ما</a></li>
                        <li><a class="navbar-link-href" href="#services">خدمات</a></li>
                        <li><a class="navbar-link-href" href="#contactus">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - LaserAfzar.ir</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/navAnim")
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/WowJs")
    @Scripts.Render("~/bundles/StellarJs")
    @Scripts.Render("~/bundles/nanoGallery")
    @Scripts.Render("~/bundles/AngularJs")
    @Scripts.Render("~/bundles/scrolling")
    @RenderSection("scripts", required: false)
</body>
</html>
