@model IEnumerable<LaserAfzar.Entities.Feature>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@if (Model.Count() < 3)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<p>
    Maximum 3 features
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Description.Length >= 20)
                {
                    @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, 20)@:...
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FeatureId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FeatureId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FeatureId })
            </td>
        </tr>
    }

</table>
